@import 'tailwindcss';

:root {
  --black: #2c2c2c;
  --white: #fefefe;

  --background: #fefefe;
  --modalOverlayBackground: #969696;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--black);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.glass-link {
  @apply relative px-5 py-2 rounded-xl transition-all duration-300 overflow-hidden;
}

.glass-link::before {
  content: '';
  @apply absolute inset-0 rounded-xl opacity-0 transition-opacity duration-300;
  background: linear-gradient(
    120deg,
    rgba(145, 138, 138, 0.25),
    rgba(67, 56, 56, 0.25),
    rgba(55, 53, 53, 0.25)
  );
}

.glass-link:hover {
  @apply backdrop-blur-lg bg-white/10 border border-white/20 scale-105 shadow-lg;
}

.glass-link:hover::before {
  opacity: 1;
}

.glass-link-active {
  @apply backdrop-blur-lg bg-white/20 border border-white/30;
}
